name : book-it-out-ci-cd

on:
  pull_request:
    branches: [main]

env:
  MYSQL_DB: book
  MYSQL_USER: book
  MYSQL_PW: bookitout
  MYSQL_ROOT_PW: root
  JAVA_VERSION: 1.15

  AWS_REGION: ap-northeast-2
  EB_ENVIRONMENT_NAME: Bookitout-env
  EB_APPLICATION_NAME: book-it-out
  EB_DEPLOYMENT_PACKAGE: ./BookitOut/docker-compose.yml

jobs:
  deploy:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: ${{ env.MYSQL_DB }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PW }}
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PW }}
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo, commit, took
          text: 'CI/CD starting'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()

      - name: Checkout main branch
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}

      # - name : Run tests

      - name: Build Spring Project with Gradle
        run: |
          cd BookItOut
          ./gradlew clean build

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: 'SUCCESS : Spring Boot Build with Gradle'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_ID }}
          password: ${{ secrets.DOCKER_HUB_PW }}

      - name: Build and Push Docker Image
        run: |
          cd BookItOut
          docker build --platform amd64 \
          --build-arg JWT_KEY=$JWT_SECRET_KEY \
          --build-arg DB_URL=$DB_URL \
          --build-arg DB_ID=$DB_ID \
          --build-arg DB_PW=$DB_PW \
          --build-arg EMAIL_ID=$EMAIL_ID \
          --build-arg EMAIL_PW=$EMAIL_PW \
          -t jinkpark/book-it-out:v1-amd64 .
          docker push jinkpark/book-it-out:v1-amd64
        env:
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          DB_URL: ${{ secrets.DB_URL }}
          DB_ID: ${{ secrets.DB_ID }}
          DB_PW: ${{ secrets.DB_PW }}
          EMAIL_ID: ${{ secrets.EMAIL_ID }}
          EMAIL_PW: ${{ secrets.EMAIL_PW }}

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: 'SUCCESS : Pushed to Dockerhub'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()

      # - name : Generate docker-compose.yml

      - name: Deploy to AWS EBS
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          region: ${{ env.AWS_REGION }}
          environment_name: ${{ env.EB_ENVIRONMENT_NAME }}
          application_name: ${{ env.EB_APPLICATION_NAME }}
          deployment_package: ${{ env.EB_DEPLOYMENT_PACKAGE }}
          wait_for_deployment: 60

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: 'SUCCESS : Deploy Docker Image to AWS EBS'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()

      - name: Install React App Dependencies
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy React App to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./frontend/build

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: 'SUCCESS : Deploy React App to Github Pages'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()